# Ignore all files by default
*

# Include Dart source files
!**/*.dart

# Include Flutter/Dart directories
!lib/
!test/


# Exclude all other Flutter/Dart-related directories

!/dart_tool/
!/flutter-plugins
!/flutter-plugins-dependencies
!/packages
!/pub-cache/
!/pub/
!/build/
